# **Перед вами набор данных с описаниями химических свойств стекла**
Взять его можно вот тут: https://gist.github.com/hydrophis-spiralis/8899e6a3b49deeb2440c42adeb1fc18e

Столбцы кроме последнего - нюансы химического состава. Последний столбец Type - тип стекла.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('glass.csv')

In [ ]:
df.head()

        RI     Na    Mg    Al  ...    Ca   Ba   Fe                           Type
0  1.52101  13.64  4.49  1.10  ...  8.75  0.0  0.0  buildingwindowsfloatprocessed
1  1.51761  13.89  3.60  1.36  ...  7.83  0.0  0.0  buildingwindowsfloatprocessed
2  1.51618  13.53  3.55  1.54  ...  7.78  0.0  0.0  buildingwindowsfloatprocessed
3  1.51766  13.21  3.69  1.29  ...  8.22  0.0  0.0  buildingwindowsfloatprocessed
4  1.51742  13.27  3.62  1.24  ...  8.07  0.0  0.0  buildingwindowsfloatprocessed

[5 rows x 10 columns]

# **1. Сколько образцов разных видов стекла в таблице?**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    object
dtypes: float64(9), object(1)
memory usage: 16.8+ KB

In [ ]:
len(df)

214

# **2. Найдите средние значения химических параметров для каждого типа стекла**

In [ ]:
df.Type.unique()

array(['buildingwindowsfloatprocessed',
       'buildingwindowsnonfloatprocessed', 'vehiclewindowsfloatprocessed',
       'containers', 'tableware', 'headlamps'], dtype=object)

In [ ]:
df.groupby('Type')[['Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']].mean()

                                         Na        Mg  ...        Ba        Fe
Type                                                   ...
buildingwindowsfloatprocessed     13.242286  3.552429  ...  0.012714  0.057000
buildingwindowsnonfloatprocessed  13.111711  3.002105  ...  0.050263  0.079737
containers                        12.827692  0.773846  ...  0.187692  0.060769
headlamps                         14.442069  0.538276  ...  1.040000  0.013448
tableware                         14.646667  1.305556  ...  0.000000  0.000000
vehiclewindowsfloatprocessed      13.437059  3.543529  ...  0.008824  0.057059

[6 rows x 8 columns]

# **3. Найдите максимальную разницу между содержанием Si разных типов стекла. Постройте квадратную таблицу, в которой столбцы и строки - типы стекла, а в ячейках будут находиться значения абсолютной разницы.¶**

In [ ]:
bwfp1 = 0
bwnfp1 = 0
cont1 = 0
hl1 = 0
tw1 = 0
vwfp1 = 0

In [ ]:
for i in range(0, len(df)):
  if df.Type[i] == 'buildingwindowsfloatprocessed':
    bwfp1 += df['Si'][i]
  if df.Type[i] == 'buildingwindowsnonfloatprocessed':
    bwnfp1 += df['Si'][i]
  if df.Type[i] == 'containers':
    cont1 += df['Si'][i]
  if df.Type[i] == 'headlamps':
    hl1 += df['Si'][i]
  if df.Type[i] == 'tableware':
    tw1 += df['Si'][i]
  if df.Type[i] == 'vehiclewindowsfloatprocessed':
    vwfp1 += df['Si'][i]

In [ ]:
bwfp = [0, abs(bwfp1-bwnfp1), abs(bwfp1 - cont1), abs(bwfp1 - hl1), abs(bwfp1 - tw1), abs(bwfp1 - vwfp1)]
bwnfp = [abs(bwfp1-bwnfp1), 0, abs(cont1-bwnfp1), abs(hl1-bwnfp1), abs(tw1-bwnfp1), abs(vwfp1-bwnfp1)]
cont = [abs(bwfp1 - cont1), abs(cont1-bwnfp1), 0, abs(cont1-hl1), abs(cont1-tw1), abs(cont1-vwfp1)]
hl = [abs(bwfp1 - hl1), abs(hl1-bwnfp1), abs(cont1-hl1), 0, abs(hl1-tw1), abs(hl1-vwfp1)]
tw = [abs(bwfp1 - tw1), abs(tw1-bwnfp1), abs(cont1-tw1), abs(hl1-tw1), 0, abs(tw1-vwfp1)]
vwfp = [abs(bwfp1 - vwfp1), abs(vwfp1-bwnfp1), abs(cont1-vwfp1), abs(hl1-vwfp1), abs(tw1-vwfp1), 0]
d = {'buildingwindowsfloatprocessed': bwfp,
     'buildingwindowsnonfloatprocessed': bwnfp,
     'containers': cont,
     'headlamps': hl,
     'tableware': tw,
     'vehiclewindowsfloatprocessed': vwfp}
df_1 = pd.DataFrame(d)
df_1.index = ['buildingwindowsfloatprocessed', 'buildingwindowsnonfloatprocessed', 'containers', 'headlamps',  'tableware', 'vehiclewindowsfloatprocessed']

In [ ]:
df_1

                                  buildingwindowsfloatprocessed  ...  vehiclewindowsfloatprocessed
buildingwindowsfloatprocessed                              0.00  ...                       3852.46
buildingwindowsnonfloatprocessed                         434.11  ...                       4286.57
containers                                              4142.58  ...                        290.12
headlamps                                               2967.33  ...                        885.13
tableware                                               4424.48  ...                        572.02
vehiclewindowsfloatprocessed                            3852.46  ...                          0.00

[6 rows x 6 columns]

# **4. Как часто Барий(Ba) используется(>0) вместе с Магнием(Mg)(>0)?**

In [ ]:
count = 0
for i in range(0, len(df)):
  if df.Ba[i] and df.Mg[i] > 0:
    count += 1
count

15

# **5. Правда ли, что в стекле, которое используют для посуды(tableware), в среднем меньше кальция(Ca), чем в стекле для окон(Тип начинается с building window)?**

In [ ]:
tw, bw = 0, 0
tw1, bw1 = 0, 0
for i in range(0, len(df)):
  if df.Type[i] == 'buildingwindowsfloatprocessed' or 'buildingwindowsnonfloatprocessed':
    bw += df.Ca[i]
    bw1 += 1
  if df.Type[i] == 'tableware':
    tw += df.Ca[i]
    tw1 += 1
if bw/bw1 > tw/tw1:
  print('Да, в среднем кальция меньше в стекле для посуды')
else:
  print('Нет, в среднем кальция больше в стекле для посуды')

Нет, в среднем кальция больше в стекле для посуды

# **6. Ri - Refractive index - коэффициент преломления. Расположите другие химические параметры по убыванию корреляции с Ri. Попробуйте корреляции Пирсона и Спирмена.**

In [ ]:
from scipy import stats

In [262]:
na = r = float(stats.spearmanr(df.RI, df.Na)[0])
mg = r = float(stats.spearmanr(df.RI, df.Mg)[0])
k = r = float(stats.spearmanr(df.RI, df.K)[0])
si = r = float(stats.spearmanr(df.RI, df.Si)[0])
al = r = float(stats.spearmanr(df.RI, df.Al)[0])
ca = r = float(stats.spearmanr(df.RI, df.Ca)[0])
ba = r = float(stats.spearmanr(df.RI, df.Ba)[0])
fe = r = float(stats.spearmanr(df.RI, df.Fe)[0])
a = [na, mg, k, si, al, ba, fe, ca]
a.sort(reverse=True)

In [264]:
a

[0.7037772900856513,
 0.1441558576473802,
 0.09618105232126861,
 0.031039673411322587,
 -0.18151106032822187,
 -0.28800126220173705,
 -0.4918214588177193,
 -0.525732890324931]

# **7. Сколько образцов одновременно имеют Ri и Na больше медианной?**

In [ ]:
count = 0
for i in range(0, len(df)):
  if df.RI[i] > df.RI.median() and df.Na[i] > df.Na.median():
    count += 1
count

61

# **8. Разделите типы стекол windows по подтипам, каждый отдельный подтип вынесите в отдельную колонку в виде индикатора. Например, если в столбце Type есть building, то добавить столбец building и для таких значений поставить 1, в иных случаях - 0.**

In [ ]:
df['Type'] = df['Type'].map({'buildingwindowsfloatprocessed':1,
                             'buildingwindowsnonfloatprocessed':1,
                             'containers':2,
                             'headlamps':3,
                             'tableware':4,
                             'vehiclewindowsfloatprocessed':5})


# Не совсем понятно, как здесь использовать cat.codes(), поэтому я расставляю метки с помощью функции map

# **9. Применив метод ближайшего соседа построить классификаторы типов стекла, в котором признаки - химические признаки, а предсказываемая переменная - типы стекол по стобцам из вопроса №8.**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(df.drop('Type', axis=1), df.Type, test_size = 0.27, random_state=332)

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
knn.fit(X_train, y_train)
p = knn.predict(X_test)
accuracy_score(p, y_test)

0.8620689655172413

In [ ]:
p

array([1, 3, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3,
       1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1, 5, 1, 1, 1, 1, 2, 3,
       1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1])